@import 'variables';
h1 {
    color: $red-color;
}
.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 4px;
}

.apply-all-options {
    width: 34%;
}
.checkbox-all-label {
    width: 90px;
}
.check-all-submit-btn {
    width: 100px;
}
.main-content{
   
}